.ir {
  background-color: transparent;
  border: 0;
  overflow: hidden;
  text-indent: -9999px;
}
.irbefore {
  content: "";
  display: block;
  width: 0;
  height: 150%;
}
.hidden {
  display: none !important;
  visibility: hidden;
}
.visuallyhidden {
  border: 0;
  clip: rect(0);
  height: 1px;
  overflow: hidden;
  position: absolute;
  width: 1px;
  margin: -1px;
  padding: 0;
}
.visuallyhidden.focusableactive,
.visuallyhidden.focusablefocus {
  clip: auto;
  height: auto;
  overflow: visible;
  position: static;
  width: auto;
  margin: 0;
}
.invisible {
  visibility: hidden;
}
.clearfixbefore,
.clearfixafter {
  content: " ";
  display: table;
}
.clearfixafter {
  clear: both;
}
.clearfix {
  zoom: 1;
}
.flag {
  display: table;
  width: 100%;
}
.flag__image,
.flag__body {
  display: table-cell;
  vertical-align: middle;
}
.flag--top {
  vertical-align: top;
}
.flag--bottom {
  vertical-align: bottom;
}
.flag__image {
  padding-right: 10px;
img
  display: block;
  max-width: none;
}
.flag--rev {
  padding-right: 0;
  padding-left: 10px;
}
.flag__body {
  width: 100%;
}
/* HTML5 Boilerplate v4.3.0 | MIT License | http//h5bp.com/ */
html,
button,
input,
select,
textarea {
  color: #222;
}
html {
  font-size: 1em;
  line-height: 1.4;
}
-moz-selection {
  background: #b3d4fc;
  text-shadow: none;
}
selection {
  background: #b3d4fc;
  text-shadow: none;
}
hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #ccc;
  margin: 1em 0;
  padding: 0;
}
audio,
canvas,
img,
video {
  vertical-align: middle;
}
fieldset {
  border: 0;
  margin: 0;
  padding: 0;
}
textarea {
  resize: vertical;
}
.browsehappy {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0;
}
@media print {
  * {
    background: transparent !important;
    color: #000 !important;
    -webkit-box-shadow: none !important;
    box-shadow: none !important;
    text-shadow: none !important;
  }
  a:visited {
    text-decoration: underline;
  }
  a[href]after {
    content: " (" attr(href) ")";
  }
  abbr[title]after {
    content: " (" attr(title) ")";
  }
  .ir a:after a[href^="javascript"]after,
  .ir a:after a[href^="#"]after {
    content: "";
  }
  pre,
  blockquote {
    border: 1px solid #999;
    page-break-inside: avoid;
  }
  thead {
    display: table-header-group;
  }
  tr,
  img {
    page-break-inside: avoid;
  }
  img {
    max-width: 100% !important;
  }
  @page {
    margin: 0.5cm;
  }
  p,
  h2,
  h3 {
    orphans: 3;
    widows: 3;
  }
  h2,
  h3 {
    page-break-after: avoid;
  }
}
.arrow-up {
  width: 0;
  height: 0;
  border-left: 5px solid transparent;
  border-right: 5px solid transparent;
  border-bottom: 5px solid $black;
}
.arrow-down {
  width: 0;
  height: 0;
  border-left: 5px solid transparent;
  border-right: 5px solid transparent;
  border-top: 5px solid $black;
}
.arrow-right {
  width: 0;
  height: 0;
  border-top: 5px solid transparent;
  border-bottom: 5px solid transparent;
  border-left: 5px solid $black;
}
.arrow-left {
  width: 0;
  height: 0;
  border-top: 10px solid transparent;
  border-bottom: 10px solid transparent;
  border-right: 10px solid $black;
}
.halfCircle-up {
  height: 20px;
  width: 40px;
  border-radius: 40px 40px 0 0;
  -moz-border-radius: 40px 40px 0 0;
  -webkit-border-radius: 40px 40px 0 0;
  background: $black;
}
.halfCircle-down {
  height: 20px;
  width: 40px;
  border-radius: 0 0 40px 40px;
  -moz-border-radius: 0 0 40px 40px;
  -webkit-border-radius: 0 0 40px 40px;
  background: $black;
}
.halfCircle-right {
  height: 40px;
  width: 20px;
  border-radius: 0 40px 40px 0;
  -moz-border-radius: 0 40px 40px 0;
  -webkit-border-radius: 0 40px 40px 0;
  background: $black;
}
.halfCircle-left {
  height: 40px;
  width: 20px;
  border-radius: 40px 0 0 40px;
  -moz-border-radius: 40px 0 0 40px;
  -webkit-border-radius: 40px 0 0 40px;
  background: $black;
}
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-weight: inherit;
  font-style: inherit;
  font-family: inherit;
  font-size: 100%;
  vertical-align: baseline;
}
body {
  line-height: 1;
  color: #000;
  background: #fff;
}
ol,
ul {
  list-style: none;
}
table {
  border-collapse: separate;
  border-spacing: 0;
  vertical-align: middle;
}
caption,
th,
td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}
a img {
  border: none;
}
html,
body {
  margin: 0;
  padding: 0;
  color: #333;
  font-family: 'Playfair Display', serif;
}
html .wrapper,
body .wrapper {
  width: 100%;
  margin: auto;
  position: relative;
  text-align: center;
}
html .logo,
body .logo {
  height: 85vh;
  background: #333;
  background: url("../img/fondo.jpg");
  background-attachment: fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  background-size: cover;
  background-position: center center;
}
html .logo img,
body .logo img {
  height: auto;
  width: 70%;
  max-width: 550px;
  display: block;
  margin: auto;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  -o-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}
@media screen and (min-width: 640px) {
  html .logo img,
  body .logo img {
    width: auto;
    height: 50vh;
  }
}
html h1,
body h1,
html h2,
body h2,
html h3,
body h3,
html h4,
body h4,
html h5,
body h5 {
  font-size: 1.5em;
  text-align: center;
}
html h2,
body h2 {
  vertical-align: middle;
  margin: 0px auto 50px auto;
}
@media screen and (min-width: 640px) {
  html h2,
  body h2 {
    font-size: 3em;
  }
}
html h2:first-child,
body h2:first-child {
  height: 15vh;
  line-height: 15vh;
  margin: 0;
}
html h3,
body h3 {
  margin: 0 0 20px 0;
}
html p,
body p {
  width: 80%;
  max-width: 700px;
  margin: 0px auto 50px auto;
  letter-spacing: 0.1em;
  line-height: 1em;
  text-align: justify;
  -webkit-hyphens: auto;
  -moz-hyphens: auto;
  -ms-hyphens: auto;
  hyphens: auto;
  font-family: 'Roboto', sans-serif;
}
@media screen and (min-width: 640px) {
  html p,
  body p {
    width: 50%;
  }
}
html a.button,
body a.button {
  color: #333;
  text-decoration: none;
  margin: 0px auto 50px auto;
  text-align: center;
  display: inline-block;
  padding: 15px;
  border: 2px solid #333;
  width: auto;
  -webkit-transition: background 0.5s ease;
  -moz-transition: background 0.5s ease;
  -o-transition: background 0.5s ease;
  -ms-transition: background 0.5s ease;
  transition: background 0.5s ease;
}
html a.button:hover,
body a.button:hover {
  background: #333;
  color: #fff;
}
html .fb_iframe_widget,
body .fb_iframe_widget {
  position: absolute;
  bottom: 3vh;
  right: 0;
  left: 0;
}
html #instafeed,
body #instafeed {
  display: block;
  width: 100%;
  max-width: 712px;
  height: auto;
  margin: 0 auto 30px auto;
  overflow: hidden;
}
@media screen and (min-width: 640px) {
  html #instafeed,
  body #instafeed {
    width: 50%;
  }
}
html #instafeed a,
body #instafeed a {
  display: inline-block;
  width: 80%;
  height: auto;
  overflow: hidden;
  margin: 0 auto 25px auto;
  position: relative;
}
@media screen and (min-width: 640px) {
  html #instafeed a,
  body #instafeed a {
    margin: 0 1% 2% 1%;
    width: 31%;
  }
}
html #instafeed a:hover div,
body #instafeed a:hover div {
  opacity: 1;
  -ms-filter: none;
  filter: none;
}
html #instafeed a div,
body #instafeed a div {
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0,0,0,0.5);
  width: 100%;
  height: 20%;
  overflow: hidden;
  opacity: 0;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
  filter: alpha(opacity=0);
  -webkit-transition: opacity 0.5s ease;
  -moz-transition: opacity 0.5s ease;
  -o-transition: opacity 0.5s ease;
  -ms-transition: opacity 0.5s ease;
  transition: opacity 0.5s ease;
  font-family: sans-serif;
}
html #instafeed a div:hover,
body #instafeed a div:hover {
  opacity: 1;
  -ms-filter: none;
  filter: none;
}
html #instafeed a span,
body #instafeed a span {
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
  position: absolute;
  left: 50%;
  top: 50%;
  width: 80%;
  color: #fff;
  font-size: 0.6em;
  -webkit-transform: translate(-50%, -54%);
  -moz-transform: translate(-50%, -54%);
  -o-transform: translate(-50%, -54%);
  -ms-transform: translate(-50%, -54%);
  transform: translate(-50%, -54%);
  line-height: 3.8em;
}
html #instafeed a img,
body #instafeed a img {
  display: block;
  width: 100%;
  height: auto;
  position: inherit;
}
html #instafeed a .svg-icon,
body #instafeed a .svg-icon {
  position: absolute;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  -o-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}
.svg-icon {
  width: 2em;
  height: 2em;
}
.svg-icon path,
.svg-icon polygon,
.svg-icon rect {
  fill: #fff;
}
.svg-icon circle {
  stroke: #4691f6;
  stroke-width: 0.5;
}
